<main>
        
        <div class="eventos">
            <div class="evento1">
                <h2><strong>Show do Grupo Revelação</strong></h2>
                <h3>17 AGO 2019</h3>
                <p>Sáb - 22:00</p>
                <p>Venha curtir o show do grupo de pagode mais querido do Brasil.</p>
            </div>
            <div class="evento2">
                <h2><strong>Evento - Empresa Bradesco</strong></h2>
                <h3>23 AGO 2019</h3>
                <p>Sex - 18:00</p>
                <p>Confraternização do Banco Bradesco por atingir os resultados trimestrais.</p>
            </div>
            <div class="evento3">
                <h2><strong>Festa Kids</strong></h2>
                <h3>7 SET 2019</h3>
                <p>Sáb - 12:00</p>
                <p>Festa dedicada as crianças, com muitas brincadeiras, gincanas e comidas.</p>
            </div>
        </div>

    </main>