<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfólio</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <header>
        <img src="img/75516.jpg"/>
        <h1>Matheus Marques de Souza</h1>
        <h2>Estudante</h2>
        <p>11 99466 1072</p>
        <p>marquesmatheus018@gmail.com</p>
        <hr>

    </header>
    <section id="Perfil">
        <strong>
            <em>
                <h3>Perfil</h3>
            </em>
        </strong>
                <p>Deseja concluir o Ensino Médio e o curso no Senai, terminar o curso de inglês e ingressar em  <br> 
                uma faculdade na área de tecnologia. Posteriormente, ser um gestor de projetos ou softwares.</p>
                <p><em>imagem de prestativo</em></p>
                <p><em>imagem de comunicativo</em></p>
                <p><em>imagem de criativo</em></p>
        
    </section>
    <hr>
    <section id="Formação">
        <strong>
            <em>
                <h3>Formação</h3>
            </em>
        </strong>
                <p><strong>ENSINO FUNDAMENTAL</strong> , Colégio Maria Imaculada - SP </p>
                <p>2007-2015</p>
                <p><strong>ENSINO MÉDIO</strong> , SESI – SP</p>
                <p>2016-2019</p>
                <p><strong>ANÁLISE E DESENVOLVIMENTO DE SOFTWARE</strong> , SENAI - SP</p>
                <p>2019</p>

    </section>
    <hr>
    <section id="Habilidades">
            <strong>
                <em>
                    <h3>Habilidades</h3>
                </em>
            </strong>
                <p>Vídeo Game (PS4)<br>
                    <em>barra de conhecimento</em>
                </p>
                <p>Jogar Futebol<br>
                    <em>barra de conhecimento</em>
                </p>
                <p>Sair com amigos<br>
                    <em>barra de conhecimento</em>
                </p>
                <p>Assistir filmes e séries<br>
                    <em>barra de conhecimento</em>
                </p>
                <p>Torcer pro Corinthians<br>
                    <em>barra de conhecimento</em>
                </p>
                <p>Ler Livros<br>
                    <em>barra de conhecimento</em>
                </p>
                
    </section>
    <hr>
    <section id="Referências">
            <strong>
                <em>
                    <h3>Referências</h3>
                </em>
            </strong>
                <p>José Carlos <br>
                    <em>Pai</em> <br>
                    (11)3232-5500 <br>
                    jcl@email.com.br
                </p>
                <p>Maria do Socorro <br>
                    <em>Mãe</em> <br>
                    (11)3232-5500 <br>
                    msr@email.com.br
                </p>
                <p>Aldina Maria <br>
                    <em>Avó</em> <br>
                    (11)4444-6789 <br>
                    amr@email.com.br
                </p>
    </section>
    <hr>
    <section id="Objetivos">
            <strong>
                <em>
                    <h3>Objetivos</h3>
                </em>
            </strong>
            <p>Desenvolvimento Mobile</p>
            <p>Edição de Fotos e Vídeos</p>
            <p>Desenvolvimento de Blog</p>
            <p>Gestão de Projetos</p>
            <p>Desenvolvimento de Games</p>
    </section>


</head>
<body>
    
</body>
</html>