<main>
            <section id="servicos">
                <div class="section-container">
                    <div class="flex-group">
                        <h2><strong><em>Serviço de Iluminação</em></strong></h2><br>
                        <em>
                            <p>
                                A iluminação qualificada é essencial para a um visual mais aconchegante e caloroso ao público do seu evento. 
                                Equipamentos, equipe técnica qualificada, processos de revisão e manutenções constantes fazem parte do
                                que garante que seu evento seja entregue como planejado com a locação de iluminação.
                            </p><br>
                            <p>
                                Conheça algumas das principais marcas que trabalhamos para locação de iluminação para shows:
                            </p><br>
                            <p>
                                - Avolites <br>
                                - American Pro <br>
                                - SGM <br>
                                - Star Litgh <br>
                                - Tec Led
                            </p><br>
                            <p>    
                                Além de refletores temos também outros itens como:
                            </p><br>
                            <p>
                                - Mesa de luz analógica <br>
                                - Mesa de luz digital <br>
                                - Moving Head Spot <br>
                                - Moving Head Wash led <br>
                                - Moving Led Spot <br>
                                - Refletor par led indoor <br>
                                - Refletor par led outdoor <br>
                                - Canhão de luz Seguidor. <br>
                                - Máquina de Fumaça <br>
                                - Luz led para buffet <br>
                                - Luz decorativa para mesa de jantar <br>
                                - Refletor de fachada
                            </p><br>
                            
                            <p>   
                                Valor: Sob consulta
                            </p><br>
                            <h2><strong><em>Serviço de Som</em></strong></h2><br>
                            <p>
                            Somos uma empresa especialista na realização de eventos e com vasta experiência no aluguel de sonorização.
                            </p><br>
                            <p>
                            Com mais de 25 anos de experiência no mercado de audiovisual, trabalhamos com as principais marcas do
                            mercado, como:
                            </p><br>
                            <p>
                            - DAS Audio, RCF;<br>
                            - Microfones Shure, Sennheiser, DPA e Coutryman;<br>
                            - Mesas de Som Yamaha, Allen Heath e AVID;<br>
                            </p><br>
                            <p>
                            Conheça nossos serviços para aluguel de sonorização:
                            </p><br>
                            <p>
                            - ÁUDIO <br>
                            - Sistemas de som <br>
                            - DJ’s <br>
                            - Sonorização mecânica <br>
                            - Captação de áudio <br>
                            - Tradução simultânea <br>
                            </p><br>
                            <p>
                            Valor: Sob consulta
                            </p><br>
                        </em>
                    </div>
                </div>
            </section>
        </main>