<main>
            <section id="eventos">
                <h2><strong><u>Eventos Corporativos</u></strong></h2>
                <ul id="imgs">
                    <li><a href="#ev-corp1"><img src="img/eventos_corporativos/1.jpg" alt="Evento empresa Vigor" class="min"></a></li>
                    <li><a href="#ev-corp2"><img src="img/eventos_corporativos/2.jpg" alt="Evento empresa Gurlo" class="min"></a></li>
                    <li><a href="#ev-corp3"><img src="img/eventos_corporativos/3.jpg" alt="Evento empresa Bradesco" class="min"></a></li>
                    <li><a href="#ev-corp4"><img src="img/eventos_corporativos/4.jpg" alt="Evento empresa Roca" class="min"></a></li>
                </ul>
                
                <div class="lbox" id="ev-corp1">
                    <div class="box-img">
                        <a href="#ev-corp4" class="btn" id="prev">&#171;</a>
                        <a href="" class="btn" id="close">X</a>
                        <img src="img/eventos_corporativos/1.jpg" alt="Evento empresa Vigor">
                        <a href="#ev-corp2" class="btn" id="next">&#187;</a>
                    </div>
                </div>

                <div class="lbox" id="ev-corp2">
                    <div class="box-img">
                        <a href="#ev-corp1" class="btn" id="prev">&#171;</a>
                        <a href="" class="btn" id="close">X</a>
                        <img src="img/eventos_corporativos/2.jpg" alt="Evento empresa Gurlo">
                        <a href="#ev-corp3" class="btn" id="next">&#187;</a>
                    </div>
                </div>

                <div class="lbox" id="ev-corp3">
                    <div class="box-img">
                        <a href="#ev-corp2" class="btn" id="prev">&#171;</a>
                        <a href="" class="btn" id="close">X</a>
                        <img src="img/eventos_corporativos/3.jpg" alt="Evento empresa Bradesco">
                        <a href="#ev-corp4" class="btn" id="next">&#187;</a>
                    </div>
                </div>

                <div class="lbox" id="ev-corp4">
                    <div class="box-img">
                        <a href="#ev-corp3" class="btn" id="prev">&#171;</a>
                        <a href="" class="btn" id="close">X</a>
                        <img src="img/eventos_corporativos/4.jpg" alt="Evento empresa Roca">
                        <a href="#ev-corp1" class="btn" id="next">&#187;</a>
                    </div>
                </div>
            </section>

            <section id="festas">
                    <h2><strong><u>Festas e Shows</u></strong></h2>
                    <ul id="imgs">
                        <li><a href="#festa1"><img src="img/Festas_shows/1.jpeg" alt="Festa" class="min"></a></li>
                        <li><a href="#festa2"><img src="img/Festas_shows/2.jpg" alt="Balada" class="min"></a></li>
                        <li><a href="#festa3"><img src="img/Festas_shows/3.jpg" alt="Show do Grupo Revelação" class="min"></a></li>
                        <li><a href="#festa4"><img src="img/Festas_shows/4.jpg" alt="Show" class="min"></a></li>
                    </ul>
                    
                    <div class="lbox" id="festa1">
                        <div class="box-img">
                            <a href="#festa4" class="btn" id="prev">&#171;</a>
                            <a href="" class="btn" id="close">X</a>
                            <img src="img/Festas_shows/1.jpeg" alt="Festa">
                            <a href="#festa2" class="btn" id="next">&#187;</a>
                        </div>
                    </div>
    
                    <div class="lbox" id="festa2">
                        <div class="box-img">
                            <a href="#festa1" class="btn" id="prev">&#171;</a>
                            <a href="" class="btn" id="close">X</a>
                            <img src="img/Festas_shows/2.jpg" alt="Balada">
                            <a href="#festa3" class="btn" id="next">&#187;</a>
                        </div>
                    </div>
    
                    <div class="lbox" id="festa3">
                        <div class="box-img">
                            <a href="#festa2" class="btn" id="prev">&#171;</a>
                            <a href="" class="btn" id="close">X</a>
                            <img src="img/Festas_shows/3.jpg" alt="Show do Grupo Revelação">
                            <a href="#festa4" class="btn" id="next">&#187;</a>
                        </div>
                    </div>
    
                    <div class="lbox" id="festa4">
                        <div class="box-img">
                            <a href="#festa3" class="btn" id="prev">&#171;</a>
                            <a href="" class="btn" id="close">X</a>
                            <img src="img/Festas_shows/4.jpg" alt="Show">
                            <a href="#festa1" class="btn" id="next">&#187;</a>
                        </div>
                    </div>
                </section>

                <section id="formaturas">
                        <h2><strong><u>Formaturas e Casamentos</u></strong></h2>
                        <ul id="imgs">
                            <li><a href="#format1"><img src="img/form_casa/1.jpg" alt="Festa de Formatura" class="min"></a></li>
                            <li><a href="#format2"><img src="img/form_casa/2.jpg" alt="Festa de Formatura" class="min"></a></li>
                            <li><a href="#format3"><img src="img/form_casa/3.jpg" alt="Festa de Casamento" class="min"></a></li>
                            <li><a href="#format4"><img src="img/form_casa/4.jpg" alt="Festa de Casamento" class="min"></a></li>
                        </ul>
                        
                        <div class="lbox" id="format1">
                            <div class="box-img">
                                <a href="#format4" class="btn" id="prev">&#171;</a>
                                <a href="" class="btn" id="close">X</a>
                                <img src="img/form_casa/1.jpg" alt="Festa de Formatura">
                                <a href="#format2" class="btn" id="next">&#187;</a>
                            </div>
                        </div>
        
                        <div class="lbox" id="format2">
                            <div class="box-img">
                                <a href="#format1" class="btn" id="prev">&#171;</a>
                                <a href="" class="btn" id="close">X</a>
                                <img src="img/form_casa/2.jpg" alt="Festa de Formatura">
                                <a href="#format3" class="btn" id="next">&#187;</a>
                            </div>
                        </div>
        
                        <div class="lbox" id="format3">
                            <div class="box-img">
                                <a href="#format2" class="btn" id="prev">&#171;</a>
                                <a href="" class="btn" id="close">X</a>
                                <img src="img/form_casa/3.jpg" alt="Festa de Casamento">
                                <a href="#format4" class="btn" id="next">&#187;</a>
                            </div>
                        </div>
        
                        <div class="lbox" id="format4">
                            <div class="box-img">
                                <a href="#format3" class="btn" id="prev">&#171;</a>
                                <a href="" class="btn" id="close">X</a>
                                <img src="img/form_casa/4.jpg" alt="Festa de Casamento">
                                <a href="#format1" class="btn" id="next">&#187;</a>
                            </div>
                        </div>
                    </section>
                            
        </main>