#reserva {
    padding: 7em;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.login h2 {
    color: #7d0093;
    font-size: 2em;
}

.cadastro h2 {
    color: #7d0093;
    font-size: 2em;
}

.login {
    width: 400px;
    height: 350px;
    text-align: center;
}

.login input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1em;
    border-radius: 20px;
}

.login label {
    padding-top: 1em;
    display: block;
    font-size: 1.2em;

}

form input[type="submit"] {
    background-color: #7d0093;
    border: 1px solid #7d0093;
    color: #fff;
    margin: 20px auto;
    height: 2em;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #ffc600;
    color: black;
    border: 1px solid #ffc600;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bolder;
}

.cadastro {
    width: 400px;
    
}

.cadastro input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1em;
    border-radius: 20px;
}

.cadastro label {
    padding-top: 1em;
    display: block;
    font-size: 1.2em;
}

.cadastro[type="checkbox"] {
    font-size: 3em;
}

form input[type="submit"] {
    background-color: #7d0093;
    border: 1px solid #7d0093;
    color: #fff;
    margin: 20px auto;
    height: 2em;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #ffc600;
    color: black;
    border: 1px solid #ffc600;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bolder;
}